<div class="main">
    <div class="main__sidebar">
        <img src="https://www.svgrepo.com/show/95420/play.svg" alt="play button">
        <img src="https://www.svgrepo.com/show/37505/home.svg" alt="home button">
        <img src="https://www.svgrepo.com/show/77520/film.svg" alt="film button">
        <img src="https://www.svgrepo.com/show/50174/tv.svg" alt="tv button">
        <img src="https://www.svgrepo.com/show/21721/star.svg" alt="liked button">
    </div>
    <div class="main__content">
        <span class="main__category">Science Fiction</span>
        <span class="main__rate">
            <img class="main__star" src="https://www.svgrepo.com/show/5127/star.svg" alt="race star">
            <img class="main__star" src="https://www.svgrepo.com/show/5127/star.svg" alt="race star">
            <img class="main__star" src="https://www.svgrepo.com/show/5127/star.svg" alt="race star">
            <img class="main__star" src="https://www.svgrepo.com/show/5127/star.svg" alt="race star">
            <img class="main__star" src="https://www.svgrepo.com/show/5127/star.svg" alt="race star">
        </span>
        <h1 class="main__title">Godzilla vs. Kong</h1>
        <p class="main__description">In a time when monsters walk the Earth, humanity’s fight for its future sets Godzilla and Kong on a collision course that will see the two most powerful forces of nature on the planet collide in a spectacular battle for the ages.</p>
        <button class="main__btn">watch Now</button>
    </div>
    <div class="main__account">
        <img class="main__profile" src="https://www.svgrepo.com/show/178973/profile-social.svg" alt="profile button">
        <img class="main__profile" src="https://www.svgrepo.com/show/1897/settings.svg" alt="settings button">
    </div>
</div>